#config {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1em;

  ion-card-header ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
  }

  .send-button {
    align-self: center;
  }
}
