#strategy-selection {
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    flex: 1;
    padding: 1em;

    ion-card-header ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
    }
}
