<ion-content [fullscreen]="true">
  <app-logo-and-bt-header></app-logo-and-bt-header>
  <div id="strategy-selection">
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-card-title>strategies</ion-card-title>
          <ion-button slot="end" fill="clear" [disabled]="!isConnected" (click)="sendStrategies()" color="success"
            ><ion-icon name="send" slot="icon-only"></ion-icon
          ></ion-button>
        </ion-item>
      </ion-card-header>

      <ion-item>
        <ion-label>pre-strategy</ion-label>
        <ion-select [(ngModel)]="selectedPreStrategyId">
          <ion-select-option *ngFor="let strategy of strategies" [value]="strategy.id"
            >{{ strategy.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>strategy</ion-label>
        <ion-select [(ngModel)]="selectedStrategyId">
          <ion-select-option *ngFor="let strategy of strategies" [value]="strategy.id"
            >{{ strategy.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-card-title>info</ion-card-title>
          <ion-button slot="end" fill="clear" [disabled]="!isConnected" (click)="requestInfo()" color="success"
            ><ion-icon name="sync-circle" slot="icon-only"></ion-icon
          ></ion-button>
        </ion-item>
      </ion-card-header>

      <ion-item-group>
        <ion-item-divider>sensors</ion-item-divider>
        <ion-item>
          <ion-label>distance</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>line</ion-label>
        </ion-item>

        <ion-item-divider>state</ion-item-divider>
        <ion-item>
          <ion-label>state</ion-label>
          <ion-badge slot="end">{{ botState?.currentState ?? "?" }}</ion-badge>
        </ion-item>

        <ion-item>
          <ion-label>pre-strategy</ion-label>
          <ion-badge slot="end">{{ currentPreStrategy ?? "?" }}</ion-badge>
        </ion-item>

        <ion-item>
          <ion-label>strategy</ion-label>
          <ion-badge slot="end">{{ currentStrategy ?? "?" }}</ion-badge>
        </ion-item>

        <ion-item-divider>parameters</ion-item-divider>
        <ion-item>
          <ion-label>max motor speed</ion-label>
          <ion-badge slot="end">{{ botState?.maxMotorSpeed ?? "?" }}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>reverse speed</ion-label>
          <ion-badge slot="end">{{ botState?.reverseSpeed ?? "?" }}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>reverse time</ion-label>
          <ion-badge slot="end">{{ botState?.reverseTimeMs ?? "?" }}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>turn speed</ion-label>
          <ion-badge slot="end">{{ botState?.turnSpeed ?? "?" }}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>turn time</ion-label>
          <ion-badge slot="end">{{ botState?.turnTimeMs ?? "?" }}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>step time</ion-label>
          <ion-badge slot="end">{{ botState?.stepWaitTimeMs ?? "?" }}</ion-badge>
        </ion-item>
      </ion-item-group>
    </ion-card>
  </div>
</ion-content>
